@font-face {
    font-family: 'CharmReg';
    src: url("/Fuentes/Charm-Regular.ttf");
}

body,
html {
    height: 100%; /*Ajusta la altura del elemento al 100%*/
    margin: 0; /* Margen (aplica a todas las direcciones)*/
    font-family: 'CharmReg', 'sans-serif'; /*Utiliza una fuente específica o una genérica si la primera no está disponible.*/
    text-align: center; /*Centra el texto horizontalmente*/
}

.bg {
    /* Propiedades de la imagen */
    height: 100%; /*Ajusta la altura del elemento al 100%*/
    background-position: center; /*Imagen centrada en el contenedor.*/
    background-repeat: no-repeat; /*La imagen de fondo no se repite*/
    background-size: cover; /*La imagen de fondo escala para cubrir el contenedor, mantiene la proporción. Recortar partes de la imagen si es necesario, sin distorsionarse.*/

    /* Efecto de interactividad */
    position: relative; /*los elementos se colocan exactamente igual que en el posicionamiento estático, pero dependiendo del valor de las propiedades top, bottom, left, right o inset, variaremos ligeramente la posición del elemento.*/
    display: flex; /*Aplica Flexbox, facilita la alineación y distribución de los elementos dentro del contenedor.*/
    justify-content: center; /*Centra los elementos horizontalmente dentro del contenedor*/
    align-items: center; /*Centra los elementos verticalmente dentro del contenedor.*/
    text-shadow: 2px 2px 4px #000000; /*Agrega un efecto sombra al texto con un desplazamiento de 2 píxeles en las direcciones X e Y y un desenfoque de 4 píxeles, de color negro.*/
    flex-direction: column; /*Organiza los elementos en una columna, apilándolos verticalmente.*/
}

h1 {
    color: #4CAF50; /*Color del texto*/
    font-size: 100px; /*Tamaño de fuente*/
    text-align: center; /*Centra el texto horizontalmente*/
    margin-bottom: 20px;  /* Espacio debajo del h1 */
    background: linear-gradient(rgb(83, 195, 31), rgb(28, 134, 9), rgb(0, 93, 19));
    background-clip: text;      /*donde aplicamos el gradiente*/
    -webkit-background-clip: text;    /*Compatibilidad de navegador*/
    color: transparent;  /*transparentar letras coger color del fondo*/
}

h2 {
    color: rgb(222, 212, 212);
    /* Cambia el color del texto */
    font-size: 26px;
    text-align: center;
}

p {
    font-family: 'CharmReg', 'sans-serif';
    font-size: 16px; /*Tamaño de fuente*/
    margin: 10px; /*Margen*/
    color: whitesmoke; /*Color del texto*/
    align-items: center; /*Centra el texto verticalmente*/
    line-height: 120%; /*Altura de línea*/
    /* espacio de interlineado en porcentaje*/
}

p.title {
    font-size: 18px; /*Tamaño de fuente*/
    color: whitesmoke; /*Color del texto*/
    align-items: center; /*Centra el texto verticalmente*/
    line-height: 180%; /*Altura de línea*/
}

p.cap {
    font-size: 40px; /*Tamaño de fuente*/
    margin: 10px; /*Margen*/
    color: whitesmoke; /*Color del texto*/
    align-items: center; /*Centra el texto verticalmente*/
    line-height: 150%; /*Altura de línea - espacio de interlineado en %*/
    /*  text-decoration: 2px wavy underline gold; */
}

.container {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    /* Centrar la contenedor horizontalmente */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente para resaltar el texto */
    border-radius: 10px;
}

.content {
    text-align: center; /*Centra el texto horizontalmente*/
    background-color: rgba(36, 33, 33, 0.5); /*Fondo semitransparente*/
    padding: 20px; /*Espacio entre el texto y el borde*/
    border-radius: 25px ; /*Relleno de los bordes*/
}

.button-container a,
.button-container button,
.button {
    font-size: 14px; /*Tamaño de fuente*/
    display: inline-block; /*Muestra el texto en bloque*/
    padding: 7px 7px; /*Espacio entre el texto y el borde*/
    margin: 5px 5px; /*Margen entre los botones*/
    background-color: #004d00; /*Color de fondo*/
    color: #ffffff; /*Color del texto*/
    text-decoration: none; /*Quita la subrayado del texto*/
    text-align: center; /*Centra el texto horizontalmente*/
    border-radius: 10px; /*Relleno de los bordes*/
    border-style: solid; /*Estilo de borde*/
    border-color: rgb(10, 85, 0); /*Color del borde*/
    cursor: grab;  /*Cursor de la mano*/
}

.imagen {
    display: flex; /*Muestra el texto en bloque*/
    justify-content: center; /*Centra el texto horizontalmente*/
    align-items: center; /*Centra el texto verticalmente*/
    margin: 20px;  /*Margen entre la imagen y el texto*/
}

.pequeñica {
    max-width: 20%; /*Ancho máximo de la imagen*/
    height: auto; /*Altura de la imagen*/
}

.death-text {
    color: rgb(255, 0, 0); /*Color del texto*/
    font-size: 50px; /*Tamaño de fuente*/
}

span {
    display: block; /*Muestra el texto en bloque*/
    font-family: monospace; /*Familia de fuente*/
    white-space: nowrap; 
    /*wrap	El texto se ajusta para ocupar el ancho del contenedor, y se dividirá en varias líneas si es necesario.
    nowrap	El texto no se ajusta, por lo que sobresale del contenedor si es más largo que su ancho.
    balance	El texto se ajusta de forma uniforme, evitando líneas muy largas o muy cortas. Ideal para títulos.
    pretty	El texto se ajusta de forma uniforme, minimizando la diferencia de longitud de las líneas. Ideal para párrafos.
    auto	El navegador determina que tipo de ajuste aplicar.*/
    border-right: 4px solid; /*Borde derecho*/
    /* width: 12ch; */
    /* animation: typing 2s steps(12), blink 0.5s infinite step-end alternate; */
    overflow: hidden; /*Oculta el texto que sobresale del contenedor*/
}

@keyframes typing {
    from { 
        width: 0;  /*Indica que la anchura del elemento comienza en 0*/
    }

}

@keyframes blink {
    50% {
        border-color: transparent; /*Especifica que en el 50% del ciclo de la animación, el color del borde del elemento se vuelve transparente.*/
    }
}

/*------------------- Pop up de personajes---------------------------*/

/* Clase para el contenedor de las imágenes emergentes desde la derecha */
/* Contenedor del popup desde la izquierda */
.popup-container-izquierda {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para mantenerlo en su lugar */
    z-index: 1; /* Asegura que esté encima de otros elementos */
    left: 0; /* Alineado al borde izquierdo */
    bottom: 0; /* Alineado al borde inferior */
    width: 20vw; /* Ocupa el 30% del ancho total de la pantalla */
    height: auto; /* Ajusta el tamaño de acuerdo al contenido */
    background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia ajustable */
    animation: slideInLeft 0.5s forwards; /* Animación de aparición desde la izquierda */
}

/* Contenedor del popup desde la derecha */
.popup-container-derecha {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para mantenerlo en su lugar */
    z-index: 1; /* Asegura que esté encima de otros elementos */
    right: 0; /* Alineado al borde derecho */
    top: 0; /* Alineado al borde superior */
    width: 20vw; /* Ocupa el 30% del ancho total de la pantalla */
    height: auto; /* Ajusta el tamaño de acuerdo al contenido */
    background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia ajustable */
    animation: slideInRight 0.5s forwards; /* Animación de aparición desde la derecha */
}

/* Contenedor del popup desde el centro */
.popup-container-centro {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para mantenerlo en su lugar */
    z-index: 1; /* Asegura que esté encima de otros elementos */
    right: 0; /* Alineado al borde derecho */
    bottom: 0; /* Alineado al borde inferior */
    width: 20vw; /* Ocupa el 30% del ancho total de la pantalla */
    height: auto; /* Ajusta el tamaño de acuerdo al contenido */
    background-color: rgba(0, 0, 0, 0); /* Fondo negro con transparencia ajustable */
    animation: fadeIn 0.5s forwards; /* Animación de aparición gradual */
}

/* Clase para el contenido del popup */
.popup-content {
    position: relative; /* Posición relativa para que se ajuste al contenedor */
    margin: auto; /* Margen automático para centrar el contenido */
    width: 100%; /* El contenido ocupa el 100% del contenedor del popup */
    height: 100%; /* El contenido ocupa el 100% del contenedor del popup */
    border-radius: 10px; /* Bordes redondeados */
    background: transparent; /* Fondo del popup transparente */
    padding: 0; /* Sin espacio entre el contenido y el borde */
}

/* La imagen dentro del popup */
.popup-content img {
    width: 100%; /* La imagen ocupa el 100% del contenedor del popup */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: contain; /* Ajusta la imagen para que se ajuste dentro del contenedor sin recortarse */
}

/* Animación de aparición desde la derecha */
@keyframes slideInRight {
    from {
        right: -20%;  /* Empieza fuera de la pantalla a la derecha */
    }

    to {
        right: 0;  /* Termina en su posición final dentro de la pantalla */
    }
}

/* Animación de aparición desde la izquierda */
@keyframes slideInLeft {
    from {
        left: -20%;  /* Empieza fuera de la pantalla a la izquierda */
    }

    to {
        left: 0;  /* Termina en su posición final dentro de la pantalla */
    }
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;  /* Comienza transparente */
    }

    to {
        opacity: 1;  /* Termina totalmente visible */
    }
}

/* Mostrar los popups al hacer clic en el botón */
body.loaded .popup-container-derecha, 
body.loaded .popup-container-izquierda,      
body.loaded .popup-container-centro {
    display: block; /* Muestra el popup */
}

/*----------Responsivo--------------*//* Estilos para pantallas menores de 480px (móviles) */
@media (max-width: 480px) {
    h1 {
        font-size: 36px;  /* Reducir más el tamaño de fuente */
        margin: 3px; /*Reducir mas el margen*/
    }

    h2 {
        font-size: 18px;
        margin: 3px;
    }

    p {
        font-size: 12px;
        margin: 3px;
    }
    p.cap {
        font-size: 18px;
    }

    p.title {
        margin: 3px;
    }
    .container {
        padding: 5px 3px; /*Reducir el padding*/
        max-width: 100%;  /* Usar todo el ancho disponible */
    }

    .content {
        padding: 3px;
        border-radius: 15px; /*Redondear los bordes*/
    }

    .small-image {
        max-width: 80%;
    }

    .button-container a, .button-container button, .button {
        padding: 4px 8px;
        margin: 3px 3px;
        font-size: 12px;  /* Reducir el espacio entre los botones */
    }

    .popup-container-derecha {
        right: 0;
        top: 0;
        transform: none;
        width: 35%;
    }

    .popup-container-izquierda {
        left: 0;
        bottom: 0;
        transform: none;
        width: 35%;
    }

    .popup-container-centro {
        right: 0;
        bottom: 0;
        transform: none;
        width: 35%;
    }
}
